@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h2,
p,
a {
  color: $color-dark;
}

.button {
  background: $light-color;
  border-radius: 4px;
  color: $color-grey;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  border: none;

  &--primary {
    background: $color-primary;
    border: 2px solid $color-primary;
    color: #fff;
    padding: 0.45rem 1.25rem;
    font-size: 0.9rem;
  }
}
