<div class="pokemon" *ngIf="pokemon$ | async as pokemon">
  <div class="pokemon__image-block">
    <img src="/assets/images/{{ pokemon._id }}.png" class="pokemon__image" />
  </div>
  <div class="pokemon__details">
    <h2 class="pokemon__name">{{ pokemon.name }}</h2>
    <div class="pokemon__info">
      <p>ID: {{ pokemon._id }}</p>
      <p>Damage: {{ pokemon.damage }}</p>
      <p>Created At: {{ pokemon.createdAt | date: 'shortDate' }}</p>
    </div>
    <div class="pokemon__buttons">
      <button class="button button--primary" (click)="togglePokemon(pokemon)">
        {{ pokemon.isCaught ? 'Release' : 'Catch' }}
      </button>
      <button class="button button--secondary" [routerLink]="['/pokemons/edit', pokemon._id]">
        Edit
      </button>
    </div>
  </div>
</div>
