.pokemons {
  margin-top: 1rem;

  &__search {
    display: flex;
    max-width: 500px;
  }
}

.pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &__item {
    flex-basis: 25%;
    padding: 1rem;
  }
}

mat-form-field {
  width: 100%;
}

@media screen and (max-width: 1170px) {
  .pokemon-cards__item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 768px) {
  .pokemon-cards__item {
    flex-basis: 100%;
  }
}
